<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="may.i.jhq.mapper.ArticleMapper" >


    <insert id="insert" parameterType="may.i.jhq.model.Article" keyProperty="id" useGeneratedKeys="true">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ARTICLE(title,user,content,create_time,key_words,type,update_time) VALUES (#{title},#{user},
        #{content},#{createTime},#{keyWords},#{type},#{updateTime})
    </insert>

</mapper>