<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="may.i.jhq.mapper.ChildCommentMapper" >


    <insert id="save" parameterType="may.i.jhq.model.ChildComment" keyProperty="id" useGeneratedKeys="true">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO child_comment(parent_comment,content,status,create_time,to_user,from_user) VALUES (#{parentComment},#{content},
        #{status},#{createTime},#{toUser},#{fromUser})
    </insert>

    <select id="findByParentComment" parameterType="Long" resultType="may.i.jhq.model.ChildComment">
        SELECT * FROM child_comment WHERE parent_comment=#{parentComment}
    </select>

</mapper>